    #pane {
        -fx-background-color: #CCCCCC;
        -fx-border-color: #999999;
    }
    .table-view {
        -fx-border-color: #999999;
    }
    .table-view .column-header .label {
        -fx-font-size: 14 px;
        -fx-font-weight: bold;
        -fx-alignment: center-left;
    }
    .table-view .scroll-bar * {
        -fx-min-width: 0;
        -fx-max-width: 0;
        -fx-pref-width: 0;
        -fx-min-height: 0;
        -fx-max-height: 0;
        -fx-pref-height: 0;

    }
    .button {
        -fx-border-color: #000000;
        -fx-border-radius: 5;
        -fx-background-radius: 5;
    }
    .text-field {
        -fx-border-color: #999999;
        -fx-border-radius: 5;
        -fx-background-radius: 5;
    }
    .radio-button .radio {
        -fx-border-radius: 15px;
        -fx-border-color: #999999;
    }
    #partSearchField {
        -fx-font-size: 12px;
    }
    #prodSearchField {
        -fx-font-size: 12px;
    }


